<%- include("partials/pretitle.ejs") %>
    <title>About</title>
<%- include("partials/posttitle.ejs") %>
<body class="body-2">
    <div data-collapse="medium" data-animation="default" data-duration="300" data-easing="ease-in" data-easing2="ease-out" data-doc-height="1" role="banner" class="navbar greytext w-nav">
      <div class="container w-container">
        <a href="/" data-w-id="ec0e3791-3aa1-66e8-0f37-908fcfdaa002" class="brand w-nav-brand"><img src="images/placeholder.svg" loading="lazy" alt="">
          <div data-w-id="ec0e3791-3aa1-66e8-0f37-908fcfdaa004" class="navtext">Brahmaputra Water Diplomacy</div>
        </a>
        <nav role="navigation" class="nav-menu w-nav-menu">
          <a href="/about" data-w-id="ec0e3791-3aa1-66e8-0f37-908fcfdaa007" aria-current="page" class="nav-link navtext w-nav-link w--current">About US</a>
        </nav>
        <div class="menu-button w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
      <div class="section-2 wf-section"></div>
    </div>
    <div class="cursorbg">
      <div class="cursor-2"><img src="images/back-ellipse.svg" loading="lazy" alt=""></div>
    </div>
    <div class="cursor-wrapper">
      <div class="cursor"></div>
    </div>
    <div class="section-3 wf-section">
      <div class="div-block-3">
        <div class="div-block-6">
          <a href="/" class="link-block back w-inline-block">
            <div data-w-id="8583f7d3-9dbf-48a8-f722-5880ee87037c" style="opacity:0.5" class="text-block-5">Back</div>
          </a>
        </div>
        <div data-w-id="17567dd2-b13f-0590-b9fe-759056b3e582" style="opacity:0.5" class="div-block-4">
          <a href="https://twitter.com/dupc_brb" target="_blank" class="outreachtext">Twitter</a><img src="images/slash.svg" loading="lazy" alt="">
          <a href="https://www.instagram.com/dupc_brahmaputra/" target="_blank" class="outreachtext">Instagram</a><img src="images/slash.svg" loading="lazy" alt="">
          <a href="http://www.brbwaterdiplomacy.com/contact/" target="_blank" class="outreachtext">Website</a><img src="images/slash.svg" loading="lazy" alt="">
          <a href="mailto:scwd.iitg@gmail.com" class="outreachtext">E-mail</a>
        </div>
      </div>
      <h1 class="heading">Our Journey</h1>
      <p class="paragraph">The visual programme initiated by IIT Guwahati, in collaboration with The Third Pole and IHE Delft, aims to understand the mighty river Brahmaputra (Siang in Arunachal Pradesh), known as Yarlung Tsangpo in the Tibet Autonomous region of China, Jamuna in Bangladesh and several tributaries joining from Bhutan, that has often been the point of contention due to geopolitical issues. While there has been a lot of focus on the technological interventions for the river, there has been barely any effort to look at the river from people&#x27;s perspective or the stakeholder&#x27;s perspective. <br><br>This call for submissions has been open to anyone who is engaged with photography as a medium or as a process of inquiry. The objective is to understand how people from different social groups and sections of the society associate with and perceive the river. The idea is to bring attention to stories from the river to the mainstream space, which often has not found the same kind of significance as the other rivers of the basin nations. The photo stories will be curated and published within the initiative &quot;Science Communication for Water Diplomacy in the Brahmaputra&quot;.</p>
      <div>
        <div class="text-block-6">Jointly organized by</div>
        <div class="w-layout-grid grid"><img src="images/IITGGREY.png" loading="lazy" sizes="100vw" srcset="images/IITGGREY-p-500.png 500w, images/IITGGREY.png 588w" alt="" class="image-18"><img src="images/TTPGREY.png" loading="lazy" alt="" class="image-19"><img src="images/IHEGREY.png" loading="lazy" alt="" class="image-20"><img src="images/MINGREY.png" loading="lazy" alt="" class="image-21"></div>
      </div>
    </div>
    <div class="section-about wf-section"><img src="images/aboutusstroke.svg" loading="lazy" alt="" class="image-15"><img src="images/back-ellipse.svg" loading="lazy" alt="" class="image-22"><img src="images/aboutusnormal.svg" loading="lazy" alt="" class="image-17"></div>
    <div class="div-block-20"></div>
    <script src="/js/jquery.js" crossorigin="anonymous"></script>
<script src="/js/webflow.js" type="text/javascript"></script>
<%- include("partials/footer.ejs") %>